body {
  height: 3000px;
}
.navbar {
  position: relative;
  z-index: 1;
}
.jumbotron {
  height: 620px;
  background-image: url(../img/work.jpg);
  background-size: cover;
  position: relative;
}

/* tambahin untuk nambah gradasi warna di jumbotron */
.jumbotron::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
}
.jumbotron .display-4 {
  color: white;
  font-weight: 200;
  margin-top: 200px;
}
.jumbotron .display-4 span {
  font-weight: 600;
}
.panel-info {
  box-shadow: 1px 1px 3px gray;
  padding: 30px;
  background-color: white;
  margin-top: -120px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}
.panel-info h6 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}
.panel-info p {
  font-size: 15px;
  color: #acacac;
}

.tombol {
  border-radius: 30px;
}
/* hanya dalam tampilan dekstop */
@media (min-width: 992px) {
  .jumbotron {
    margin-top: -80px;
  }
  .nav-link:hover::after {
    display: block;
    content: "";
    border-bottom: 3px solid blue;
    width: 50%;
    margin: auto;
    padding-bottom: 4px;
    margin-top: -8px;
  }

  .navbar-brand,
  .nav-link {
    color: white !important;
    text-transform: uppercase;
  }
}
